// components/navbar.scss
// Styles specifically for the navigation bar, including responsiveness and themes.
// NavBar Custom CSS Styling

/* Capitalize all text in the navbar */
.navbar {
  display: flex;
  justify-content: center; /* Center contents by default */
  align-items: center;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

/* Center nav items */
.navbar-nav {
  margin: 0 auto; /* Center navigation items */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigation link styles */
.nav-link {
  font-family: 'Urbanist', sans-serif;
  font-size: 1.2rem;  /* Font size */
  position: relative;
  padding-right: 1rem; /* Add space after the link */
}

.nav-link.active {
  font-weight: 700;
  color: var(--bs-warning) !important;
}
    
.nav-link::after {
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: var(--bs-warning);
  position: absolute;
  bottom: 0;
  left: 0;
}
    
.nav-link:hover::after {
  content: '';
  opacity: 1;
}

/* Brand text styles */
.brand-text {
  font-family: 'Urbanist', sans-serif;
  font-style: bold;
  font-weight: 700; /* Bold font weight */
  font-size: 2rem;  /* Font size */
  color: var(--bs-warning);
  text-decoration: none;
  display: none;
}
.navbar-brand.brand-text:focus,
.navbar-brand.brand-text:active {
  color: var(--bs-warning) !important;
  text-decoration: none;
}

/* Custom breakpoint at 1200px */
@media (min-width: 1200px) {
  .navbar-expand-custom .navbar-collapse {
    display: flex !important; /* Show full navbar */
    flex-direction: row; /* Horizontal layout */
    justify-content: center; /* Align nav links to the right */
    align-items: center;
  }

  .navbar-expand-custom .navbar-nav {
    display: flex; /* Ensure nav links are displayed in a row */
    flex-direction: row;
    gap: 1rem; /* Add spacing between links */
  }

  .navbar-expand-custom .nav-item {
    display: inline-block; /* Ensure items are horizontally aligned */
  }
  .navbar-expand-custom .navbar-toggler {
    display: none; /* Hide hamburger icon */
  }
}

@media (max-width: 1199px) {
  .navbar-expand-custom .navbar-toggler {
    margin: 0 auto; /* Center horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-expand-custom .navbar-toggler-icon {
    display: inline-block; /* Keep the icon inline */
  }

  .navbar-expand-custom  .navbar {
    flex-direction: column; /* Stack brand and toggler vertically */
    align-items: center; /* Center align all elements */
  }

  .navbar-expand-custom .navbar-brand {
    display: block; /* Show the brand */
    font-size: 1.5rem; /* Adjust font size */
    font-weight: bold; /* Bold text */
    margin-bottom: 0.5rem; /* Add spacing below the brand */
    margin-right: 0; /* Remove right margin */
    text-align: center; /* Center text within its container */
    width: 100%; /* Ensure it's treated as a block-level element */
  }
}