// base/base.scss
// Contains global reset, typography, and foundational styles for the application.

/* Set default font styles */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 60px; // the height of my navbar
}

/* Hide all sections by default */
.section {
    display: none;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

  .even-sections {
    background-color: var(--bs-dark-bg-subtle) !important;
}


.odd-sections {
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.btn {
    border-radius: 100px;
}

/* Desktop-specific styles (min-width: 1200px) */
@media (min-width: 1200px) {
  #about-us h1 {
    font-size: 3rem; /* Larger font for desktop */
  }
  #about-us h2 {
    font-size: 2.5rem;
  }
  #about-us h3 {
    font-size: 2rem;
  }
  #about-us h4 {
    font-size: 1.75rem;
  }
  #about-us h5 {
    font-size: 1.5rem;
  }
  #about-us h6 {
    font-size: 1.25rem;
  }
  #about-us p, #about-us li {
    font-size: 1.125rem;
  }
  #about-us .blockquote p {
    font-size: 1.25rem;
  }
}

/* Mobile-specific styles (max-width: 1199px) */
@media (max-width: 1199px) {
  #about-us h1 {
    font-size: 2.5rem; /* Smaller font for mobile */
  }
  #about-us h2 {
    font-size: 2rem;
  }
  #about-us h3 {
    font-size: 1.75rem;
  }
  #about-us h4 {
    font-size: 1.5rem;
  }
  #about-us h5 {
    font-size: 1.25rem;
  }
  #about-us h6 {
    font-size: 1.125rem;
  }
  #about-us p, #about-us li {
    font-size: 1rem;
  }
  #about-us .blockquote p {
    font-size: 1.125rem;
  }
}